/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-11-8, 10:23:50
    Author     : KiKo
*/
.navbar-nav li:hover{
    color:red !important;
}

.footers {
    margin-right:50em;
}

.footer{
   height: 3em; 
   margin-top: 0.7em;
}

.user{
    height: 10em !important;
    margin: 0px;
}

.profile{
    margin-top: 10em; 
    text-align: center;
}

.one h1 {
    color:green !important;
}

.one p {
   color:green; 
}
.one{
    height: 70em;
    background-image: url("../Pictures/three.jpg");  
    margin: 0px;
    background-repeat: no-repeat;
}

.two{
    height: 80em;
    background-image: url("../Pictures/two.jpg");
    margin: 0px;
    background-repeat: no-repeat;
}

.twotwo{
    height: 80em;
    background-image: url("http://wallpaperstock.net/grey-brick-wall-wallpapers_43828_1920x1200.jpg");
    margin: 0px;
    background-repeat: no-repeat;
}

.three{
    height: 75em;
    background-image: url("../Pictures/one.jpg");
    margin: 0px;
    background-repeat: no-repeat;
}

.trainer_one {
    margin-top: 9em !important ;
    margin-left: 5em !important;
    height: 62em ;
    width:60%;
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
}

.trainer_one_schedule {
    margin-top: 15em;
    margin-left: 42em;
}

.trainer_one_button {
    margin-top:2em;
}

.trainer_onebutton {
    margin-left: 63em;
    width: 20em;
}

.trainer_two_schedule {
    margin-top: 10em;
    margin-left: 42em;
}

.trainer_two_button {
    margin-top:3em;
}

.trainer_twobutton {
    margin-left: 58em;
    width: 20em;
}

.trainer_two {
    margin-top: 9em !important ;
    height: 62em ;
    width:60%;
    margin-left: 12em !important;
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
}

.bodyregister{
    background-repeat: no-repeat;
    background-image: url("../Pictures/register.jpg");
}

.bodytrainer{
    background-repeat: no-repeat;
    background-image: url("../Pictures/picone.jpg");
}

.bodyschedule{
    background-repeat: no-repeat;
    background-image: url("../Pictures/pictwo.jpg");
}

.bodyprofile{
    background-repeat: no-repeat;
    background-image: url("../Pictures/picthree.jpg");
}

.register{
    margin-top: 4em;
    height: 64em ;
    width:60%;
    margin-left:20em;
}

.membership{
    margin-top: 8em;
    height: 50em ;
    width:60%;
    margin-left:20em;
}

.bodylogin{
   background-repeat: no-repeat; 
   background-image: url("http://www.mrwallpaper.com/wallpapers/boxing.jpg");
}

.bodyadmin{
   background-repeat: no-repeat; 
   background-image: url("../Pictures/admin.jpeg");
}

.login{
    height: 30em;
    margin-top: 6em !important;
    width:60%;
    margin-left:53em;
    display:table; 
    margin:0 auto;
}

.username_profile {
    margin-top: 4em;
}
.bodyabout{  
    background-image: url("../Pictures/about.jpg");
    background-repeat: no-repeat;
}

.about { 
    margin-top: 13em !important ;
    height: 60em ;
    width:60%;
    margin-left:20em;
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
}

.about p {
    font-size: 1.3em !important;
    color: #9a2d23;
}

.about h2 {
    color: #9a2d23;
}

.header h2{
    margin-top: 0em !important;
}
.bodycontactus{
    background-image: url("../Pictures/contact.jpg");
    background-repeat: no-repeat;
}

.contactus {
    margin-top: 11em !important ;   
}

.contactus h1{
    margin-left: 0.4em ;   
}

.contactus p {
    font-size: 1.3em !important;   
}

.pabout .btns {
    width:20em;
}
 
.header_right {
    position:absolute;
    left: 110em;
}

.welcome_user {
    color:wheat;
    position:absolute;
    left: 100em;
    margin-top: 1.15em;
    font-weight: bolder;
}

.container_whole {
    margin-top: 5em;
}

.panel-container {	
	height: 33.5em;
	border: solid 0.2em #9a2d43;
	border-radius: 0.5em;
	opacity: 0.95;
	margin: 0 auto;
	margin-top: 2em;
	max-width: 24em;
}

.panel-container a {
	text-decoration: none !important;
}

.panel-container:hover{
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	transform: scale(1.1);
	opacity: 2;
}

.panel_title {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: center !important;
	color: #fff;
	border-colour: #337ab7;
	background-color: #9a2d43;
	margin: 0 auto;
	font-size: larger;
}

.body-panel {	
	height: 30.1em;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}

.panel-schedule {
    background-image: url("http://previews.123rf.com/images/kchung/kchung1408/kchung140801584/30902954-schedule-word-circle-marked-on-a-calendar-by-a-red-pen-Stock-Vector.jpg");
}

.panel-membership {
    background-image: url("http://www.justinwaynedating.com/wp-content/uploads/2012/09/JW-Monthly-Membership.png");
}

.panel-trainers {
    background-image: url("http://www.abae.co.uk/aba/cache/file/9A88B93C-5247-4538-991A33DE9A81FB30.jpg");
    height: 30em;
    width: 24em;
}

.panel-register {
    background-image: url("http://www.1e.com/blogs/wp-content/uploads/sites/78/2015/11/video.jpg");
}

.panel-gallery {
    background-image: url("https://lh6.ggpht.com/QVMOKD4L6r9eisfhL8wPrOTyyGELCY6uu5kSb4R5gemDeHM_WtvK2R3PPDIhuLWtRQ=h900");
    height: 30em;
    width: 24em;
}

.panel-shop {
    background-image: url("http://www.pilotguides.com/wordpress/wp-content/uploads/2013/08/Thai-Boxing-Shop-by-Miles-Flickr-commons.jpg");
    height: 30em;
    width: 24em;
}

.body-panel-about {	
	height: 30em;
        width: 59.7em;
	background-position: center;
	background-size: cover;
        background-color:#eee;
}

.panel-container-about {	
	height: 33.5em;
        width: 60em;
	border: solid 0.2em #9a2d43;
	border-radius: 0.5em;
	opacity: 0.95;
	margin: 0 auto;
	margin-top: 6em;
	max-width: 80em;
}

.body-panel-about h2 {
    margin-top: 0em;
    margin-left: 6em;
}

.panel-container-buttons{
        height: 23.5em;
        width: 20em;
	border: solid 0.2em #9a2d43;
	border-radius: 0.5em;
	opacity: 0.95;
	margin: 0 auto;
	margin-top: 6em;
	max-width: 50em;
}

.body-panel-buttons {	
	height: 20em;
        width: 19.7em;
	background-position: center;
	background-size: cover;
        background-color:#eee;
}

.about_button_one {
    background-color: #337ab7 !important;
    margin-left: 3.7em;
    margin-top: 2em;
    padding-left: 1.8em !important;
    padding-right: 1.8em !important;
}
.about_button_one a{
    color:white;
}

.about_button_three a{
    color:white;
}

.about_button_two {
    background-color: #337ab7 !important;
    margin-left: 3.7em;
    margin-top: 2em;
    padding-left: 1.8em;
    padding-right: 1.8em;
}

.about_button_three {
    background-color: #337ab7 !important;
    margin-left: 3.7em;
    margin-top: 2em;
    padding-left: 3.8em !important;
    padding-right: 3.8em !important;
}

.button_trainers {
   background-color: #337ab7 !important; 
}

.panel_title_trainers {
	padding: 12px 17px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center !important;
	color: #fff;
	border-colour: #337ab7;
	background-color: #9a2d43;
	margin: 0 auto;
	font-size: larger;
}

.trainer_one {
    padding: 0 !important;
}

.trainer_two {
    padding: 0 !important;
}

.image_trainers{
    width:22em;
    height:12em;
    margin-top: 1.5em;    
}

.panel_title_admin {
	padding: 12px 17px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center !important;
	color: #fff;
	border-colour: #337ab7;
	background-color: #9a2d43;
	margin: 0 auto;
        margin-bottom: 1em;
	font-size: larger;
}

.shop_class{
    display:none; 
    margin:0 auto; 
    background-color: #fff; 
    width:75%;
}

#product_name h3{
    font-size: 20px !important;
}

.products{
    height:28.8em;
    display: inline-block;
    padding: 20px;
}

#products{
    margin:0 auto;
    width: 83em;
    height: 73em;
}

#shop_images img{
     height: 15.5em;; 
     width: 17.2em;
}

#shop_price p{
    font-weight: bolder;
    margin-top: 1.2em;
}

#dec{
    font-size:1.3em;  
    margin-right: 6px;
}

#inc{
    font-size:1.3em; 
    margin-left: 0;
}

.body-panel-items {	
	height: 25.3em;
        width: 17.2em;
	background-position: center;
	background-size: cover;
        background-color:#eee;
}

.body-panel-membership {
        margin-top: 6em;
        height: 35.3em;
        width: 37.2em;
	background-position: center;
	background-size: cover;
        background-color:#eee;
}

.panel-container-items {	
	height: 28.8em;
        width: 17.5em;
	border: solid 0.2em #9a2d43;
	border-radius: 0.5em;
	opacity: 0.95;
	margin: 0 auto;
	margin-top: 2em;
	max-width: 80em;
        text-align: center;
}
.buybutton{
    margin-left: 30em;
    margin-top: 2em;
}

.gallery_class {
    display:none; 
    margin:0 auto; 
    background-color: #fff; 
    width:75%;
}

#images_id {
    margin:0 auto;
    width: 100em;
    height: 55em;
}

.images_class{
    margin-top: 2em;
    height:24.8em;
    display: inline-block;
    padding: 20px;
}

#gallery_images img{
     height: 18.5em;; 
     width: 20.25em;
}

.body-panel-images {	
	height: 18.6em;
        width: 20.2em;
	background-position: center;
	background-size: cover;
        background-color:#eee;
}

.panel-container-images {	
	height: 21.9em;
        width: 20.5em;
	border: solid 0.2em #9a2d43;
	border-radius: 0.5em;
	opacity: 0.95;
	margin: 0 auto;
	max-width: 80em;
        text-align: center;
}

.videos_button {
    margin-top: 3.6em !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
    margin-left: 59.5em !important;
}

.image_button{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
    margin-left: 62.5em !important;
}

.panel-container-videos {		
	height: 25.9em;
        width: 40.2em;
	border: solid 0.2em #9a2d43;
	border-radius: 0.5em;
	opacity: 0.95;
	margin: 0 auto;
	margin-top: 6em;
	max-width: 80em;
}

.body-panel-videos {	
	height: 22.5em;
        width: 40em;
	background-position: center;
	background-size: cover;
        background-color:#eee;
}

.videos_title{
    width: 33.4em;
}
.error {
	border-color: red !important;
	color: red !important;
}
.success {
	color: green !important;
}
.valid {
	border-color: green !important;
	color: green !important;
}