<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPanelController</servlet-name>
        <servlet-class>Controllers.AdminPanelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFormController</servlet-name>
        <servlet-class>Controllers.AdminFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>Controllers.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGalleryPanelController</servlet-name>
        <servlet-class>Controllers.AdminGalleryPanelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGalleryController</servlet-name>
        <servlet-class>Controllers.AdminGalleryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryController</servlet-name>
        <servlet-class>Controllers.GalleryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>Controllers.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartController</servlet-name>
        <servlet-class>Controllers.EditCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Controllers.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>Controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditUsersController</servlet-name>
        <servlet-class>Controllers.AdminEditUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsers</servlet-name>
        <servlet-class>Controllers.DeleteUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPanelController</servlet-name>
        <url-pattern>/AdminPanelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFormController</servlet-name>
        <url-pattern>/AdminFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGalleryPanelController</servlet-name>
        <url-pattern>/AdminGalleryPanelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGalleryController</servlet-name>
        <url-pattern>/AdminGalleryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryController</servlet-name>
        <url-pattern>/GalleryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/ProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartController</servlet-name>
        <url-pattern>/EditCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditUsersController</servlet-name>
        <url-pattern>/AdminEditUsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsers</servlet-name>
        <url-pattern>/DeleteUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
